set timeout=0

menuentry "PozitronOS" {
    insmod all_video

    insmod part_msdos
    insmod ext2
    insmod fat

    set gfxmode=auto
    set gfxpayload=auto

    terminal_output gfxterm
    
    multiboot /boot/kernel.bin
    module /boot/system.img
    boot
}